*.pyc
*.pyo
*.egg-info
__pycache__
bin
build
develop-eggs
dist
eggs
parts
.DS_Store
.installed.cfg
docs/_build
docs/build
cover/
.tox
*.bak
*.c
*.so
*.mo
venv/
htmlcov/
herovii/tmp
playbooks/roles/*.*
.idea/
log.txt
secure.py
/test.py
herovii_dev_log.txt
buleware.ini
